<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="SHORTCUT ICON" href="images/icon.png"/>
  <script src="/js/angular.min.js"></script>
  <script src="/js/data-handler.js"></script>
  <link rel='stylesheet' href='/css/bootstrap.css'/>
  <link rel='stylesheet' href='/css/style.css' />

</head>
<body ng-app="data-handler"  ng-controller="IndexController" data-ng-init="load()">
  <p>此為管理者介面</p>
  <h1>資料表單</h1>
  <div>
    <form ng-submit="create();focus('input-id');">
    <table class="table">

      <tr>
        <td class="form-group col-md-1">
          <input id="input-id" class="form-control" placeholder="編號" ng-model="form.id">
        </td>
        <td class="form-group col-md-2">
          <input class="form-control" placeholder="姓名" ng-model="form.name">
        </td>
        <td class="col-md-2">
         <input class="form-control" placeholder="系級" ng-model="form.school_id">
        </td>
        <td class="col-md-2">
          <input class="form-control" placeholder="電話" ng-model="form.phone">
        </td>
        <td class="col-md-2">
          <input class="form-control" placeholder="Email" ng-model="form.email">
        </td>
        <td class="col-md-2">
          <button type="submit" class="btn btn-default">輸入</button>
        </td>
      </tr>
    </table>
    </form>
  </div>
  <h1>資料庫</h1>
  
  <div>
    <table class="table table-condensed table-hover" ng-init="predicate='id',reverse=false">
      <tr>
        <th class="col-md-1"><a href="" ng-click="reverse=!reverse;predicate='id'">編號</a></th></th>
        <th class="col-md-2"><a href="" ng-click="reverse=!reverse;predicate='name'">姓名</a></th>
        <th class="col-md-2"><a href="" ng-click="reverse=!reverse;predicate='school_id'">系級</a></th>
        <th class="col-md-2"><a href="" ng-click="reverse=!reverse;predicate='phone'">電話</a></th>
        <th class="col-md-2"><a href="" ng-click="reverse=!reverse;predicate='email'">Email</a></th>
        <th class="col-md-1"></th>
      </tr>
      <tr ng-repeat="wisher in wishers | orderBy:predicate:reverse" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <td>{{wisher.id}} </td>
        <td>{{wisher.name}} </td>
        <td>{{wisher.school_id}} </td>
        <td>{{wisher.phone}} </td>
        <td>{{wisher.email}} </td>
        <td>
          <div ng-style="{opacity : hover ? 1 : 0}">
            <button class="btn btn-danger btn-condensed" ng-click="delete(wisher._id)" ng-confirm-click="確認刪除?">Delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>


</body>
</html>
