<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/data-handler.js"></script>
  <link rel='stylesheet' href='/css/bootstrap.css'/>
  <link rel='stylesheet' href='/css/style.css' />

</head>
<body ng-app="data-handler"  ng-controller="IndexController" data-ng-init="load()">
  <h1>資料表單</h1>
  <p>Welcome to <%= title %></p>
  <div>
    <form ng-submit="create()">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="id" ng-model="form.id">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="name" ng-model="form.name">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="school id" ng-model="form.school_id">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="phone" ng-model="form.phone">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="email" ng-model="form.email">
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="messages" ng-model="form.messages"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <h1>資料庫</h1>
  
  <div>
    <table class="table table-condensed table-hover">
      <tr>
        <th class="">No.</th>
        <th class="">Name</th>
        <th class="">School ID</th>
        <th class="">Phone</th>
        <th class="">Email</th>
        <th class="">Messages</th>
        <th class=""></th>
      </tr>
      <tr ng-repeat="wisher in wishers | orderBy:'id':true" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
        <td>{{wisher.id}} </td>
        <td>{{wisher.name}} </td>
        <td>{{wisher.school_id}} </td>
        <td>{{wisher.phone}} </td>
        <td>{{wisher.email}} </td>
        <td>{{wisher.messages}} </td>
        <td>
          <div ng-show="hover">
            <button class="btn btn-danger btn-condensed" ng-click="delete(wisher._id)" ng-confirm-click="確認刪除?">Delete</button>
          </div>
        </td>
      </tr>
    </table>
  </div>


</body>
</html>
