<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/catch.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/smoothScrolling.js"></script>
    <script src="/js/animate.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel='stylesheet' href='/css/layout.css' />
    <link rel="stylesheet" href="/css/theme.css">

  </head>
<body ng-app="catch" ng-init="section = 'index'">
  <% include ../views/main/nav %>
  <div id="bg"></div>
  <div id="log"></div>
  <section id="home" class="col-sm-12 top-10 smooth" ng-show="section == 'index'">
    <% include ../views/main/index %>
  </section>

  <section id="info" class="col-sm-12 top-10 smooth">
    <% include ../views/main/info %>
  </section>
  <section id="catch" class="col-sm-12 top-10 last smooth" ng-controller="CatchController">
    <% include ../views/main/catch %>
  </section>
</body>
</html>
