<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="/js/angular.min.js"></script>
    <script src="/js/data-handler.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel='stylesheet' href='/css/layout.css' />

  </head>
<body ng-app ng-init="section = 'index'">
  
    <section id="home" class="col-sm-12 top-10" ng-show="section == 'index'">
      <% include ../views/main/index %>
    </section>

    <section id="info" class="col-sm-12 top-10">
      <% include ../views/main/info %>
    </section>
    <section id="catch" class="col-sm-12 top-10 last">
      <% include ../views/main/catch %>
    </section>
  
  
  <script src="/js/wow.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/animate.js"></script>


</body>
</html>
