<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/icon.png"/>
    <script src="/js/angular.min.js"></script>
    <script src="/js/catch.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/smoothScrolling.js"></script>
    <script src="/js/animate.js"></script>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="/css/animate.css">
    <link rel='stylesheet' href='/css/layout.css' />
    <link rel="stylesheet" href="/css/theme.css">
    <meta name="og:description" content="" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/shortcut.jpg"/>

  </head>
<body ng-app="catch" ng-init="section = 'index'">
  <div class="container">
  <!--<div id="ntusa"></div>-->
  
  <section id="home" class="col-sm-12 col-xs-12 v-outer" ng-show="section == 'index'">
    <% include ../views/main/index %>
  </section>

  <!--
  <section id="info" class="col-sm-12 col-xs-12 top-10 smooth">
    <% include ../views/main/info %>
  </section>
  -->
  <section id="catch" class="col-sm-12 col-xs-12 last smooth" ng-controller="CatchController" ng-show="section == 'catch'">
    <% include ../views/main/catch %>
  </section>
  <footer>
    <img src="/images/ntusa.png">
  </footer>
</div>
</body>
</html>
