<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/print.js"></script>
  <link rel='stylesheet' href='/css/bootstrap.css'/>
  <link rel='stylesheet' href='/css/style.css' />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'></head>
<body ng-app="print"  ng-controller="printController" data-ng-init="load()">
  <div class="container-print">
  <div class="card" ng-repeat="pair in data" >
    <div class="absolute card-id">{{ pair.id }}</div>
    <div class="absolute card-code">{{ pair.code }}</div>
    <img src="/images/card.png">
  </div>
  </div>


</body>
</html>
