html, body {
  color: #ddd;
  height: 100%;
  background-color: #fff;
}

#bg {
  position: absolute;
  background-image: url('/images/bg.png');
  padding: 0px;
  margin: 0px;
  width: 100%;
}

div {
  padding: 10px;
}

section {
  text-align: center;
  margin-top: 10%;
  width: 100%;
  height: 100%; 
}

section.last {
  margin-bottom: 0px;
}

.border :hover {
  background: rgba(255, 255, 255, 0.3) ;
}

.center {
  margin: 0 auto;
  float: none;
}

.top-5 {
  margin-top: 5%;
}
.top-10 {
  margin-top: 10%;
}
.top-15 {
  margin-top: 15%;
}
.top-20 {
  margin-top: 20%;
}

/*  Position  */

#home-logo {
  display: inline-block;
}

#home-time {
  display: inline-block;
}

#info-girl {
  position: absolute;
  bottom: 10%;
}

#info-dialog {
  position: absolute;
}

#info-dialog > .text
{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 20%;
  color: #333;
  border: 1px solid #333;
  word-wrap: break-word; word-break: normal;
}

#catch-girl {
  margin-left: -100px;
}

#catch-dialog {
}

#log {
  position: absolute;
}

/*  Other  */ 

img {
  max-width: 100%;
}

.my-form-control {
  height: 40px;
  margin: 7px;
}

.my-form {
  margin-top: 30px;
}

input {
  text-align: center;
}