body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, "LiHei Pro", "微軟正黑體", sans-serif;
}

a {
  color: #00B7FF;
}

.btn-condensed{
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
}

tr{
  min-height: 25px;
}