

<div class="col-sm-push-1 col-sm-3 top-20 wow fadeInLeft" data-wow-duration="1s">
  <div id="catch-dialog" class="dialog">
    <div class="text"><div class="text-inner">   
      <p>填入領取的幸運碼，便可以獲得許願人的資料囉！</p>
    </div></div>
    <img src="/images/catch/dialog.png">
  </div>
  <div id="catch-girl">
    <img src="/images/catch/girl.png">
  </div>
</div>

<div class="col-sm-4 center top-10 wow fadeInUp">
  <h1>找到你的許願人</h1>
  <form class="col-sm-9 center my-form">
  <input class="form-control my-form-control" type="text" placeholder="填入幸運碼" ng-model="code" ng-focus="clearWaring()">
  <button type="button" class="btn btn-default form-control my-form-control" ng-click="check()">送出</button>
  <div ng-show="showMsg">
    {{ message }}
  </div>
  <div ng-hide="true">
    <input class="form-control">
  </div>
  </form>
</div>

</div>