
<div class="loading" ng-show="enter"></div>



<div class="col-offset-3 col-sm-6 col-xs-12 center v-outer wow fadeInUp" data-wow-duration="1.5s">
  <div id="catch-before" class="col-sm-12 col-xs-12" ng-show="!finish" ng-class="{'fadeOut': enter,'animated': enter}">
    <h1>找到你的許願人</h1>
    <h4>填入領取的幸運碼，便可以獲得許願人的資料囉！</h4>
    <form ng-submit="check()" class="col-sm-9 col-xs-10 center my-form">
    <input class="form-control my-form-control" type="text" placeholder="填入幸運碼" ng-model="code" ng-change="clearWaring()" ng-focus="clearWaring()">
    <button type="submit" class="btn my-btn btn-default form-control my-form-control">送出</button>
    <div ng-show="showMsg">
      {{ message }}
    </div>
    
    </form>
  </div>
  <div id="catch-after" class="col-sm-12 col-xs-12" ng-show="finish" ng-class="{'fadeIn': finish,'animated': finish}">
    <h1>你的許願人資料</h1>
    <table class="col-sm-9 col-xs-8 center table my-form">
      <tr class="first-row">
        <td class="col-sm-4">姓名</td>
        <td class="col-sm-8">{{ wisherInfo.name }}</td>
      </tr>
      <tr>
        <td class="col-sm-4">聯絡方式</td>
        <td class="col-sm-8">
          <p>{{ wisherInfo.phone }}</p><p>{{ wisherInfo.email}}</p>
        </td>
      </tr>
      
    </table>
    <button type="button" class="col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 btn my-btn btn-default form-control my-form-control" onclick="location.href='./'">返回</button>
  </div>
</div>

<div class="col-sm-3 hide-m">
  <div class="col-sm-12 col-xs-12 wow zoomIn" data-wow-duration="1s" data-wow-delay="1s">
    <div id="info-dialog" class="dialog">
        <h3>貼心小叮嚀</h3>
        <br>
        <p> 聯絡許願人完成願望後，記得要向他領取感謝卡哦！ </p>

    </div>
    <div class="arrow margin-left-50"></div>
  </div>
  <div id="info-girl" class="col-sm-12 col-xs-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="1s">
  <div class="col-sm-12 right-50">
      <img class="margin-left-50" src="/images/info/girl.png">
      </div>
  </div>
</div>

</div>