
<div id="home-logo" class="col-sm-offset-2 col-sm-8 border">
  <img src="/images/home/logo.png"></div>
</div>

<div id="home-time" class="col-sm-offset-3 col-sm-6 border">
  <img src="/images/home/time.png"></div>
</div>