
<div class="v-inner">

  <div id="home-logo" class="col-sm-offset-2 col-sm-8 center-m">
    <img src="/images/home/logo.png">
  </div>

  <button type="button" class="col-sm-offset-4 col-sm-4 col-xs-offset-3 col-xs-6 top-10 btn my-btn" ng-click="section = 'catch'">我想找到許願人</button>

</div>