<div id="info-dialog" class="col-sm-push-1 col-sm-8 wow zoomIn" data-wow-duration="1s">
  <img src="/images/info/dialog.png">
</div>

<div id="info-girl" class="col-sm-push-8 col-sm-3 wow bounceInDown" data-wow-duration="1s">
  <img src="/images/info/girl.png">
</div>

