<div id="info-dialog" class="col-sm-push-1 col-sm-8 col-xs-12 dialog wow zoomIn" data-wow-duration="1s">
  <div class="text">
    <p><span class="title">這是什麼活動呢？</span></p>
    <br>
    <p> 這是臺大學生會今年的聖誕許願企劃 </p>
    <p>在聖誕季節中，同學們可以寫下自己的小小願望，等待築夢人協助完成。</p>
    <p>同學也可以成為築夢人，透過抽出紙星星，幫許願人實現心願！</p>
    <br><br>
    <p>12.15 - 12.19 許下心願</p>
    <p>12.22 - 12.26 實現心願</p>
  </div>
  <img src="/images/info/dialog.png">

</div>

<div id="info-girl" class="col-sm-push-9 col-sm-2 col-xs-12 wow bounceInDown" data-wow-duration="1s">
  <img src="/images/info/girl.png">
</div>

