<h1>Info</h1>
<div id="info-girl" class="col-sm-push-8 col-sm-3 border">
  <img src="/images/info/girl.png">
</div>

<div id="info-dialog" class="col-sm-push-1 col-sm-8 border">
  <img src="/images/info/dialog.png">
</div>
